@import "tailwindcss";
@import "tw-animate-css";

@source "../../../../packages/jadebook";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-sans);
	--font-serif: var(--font-serif);
	--font-mono: var(--font-mono);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

:root {
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.147 0.004 49.25);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.147 0.004 49.25);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.147 0.004 49.25);
	--primary: oklch(0.216 0.006 56.043);
	--primary-foreground: oklch(0.985 0.001 106.423);
	--secondary: oklch(0.97 0.001 106.424);
	--secondary-foreground: oklch(0.216 0.006 56.043);
	--muted: oklch(0.97 0.001 106.424);
	--muted-foreground: oklch(0.553 0.013 58.071);
	--accent: oklch(0.97 0.001 106.424);
	--accent-foreground: oklch(0.216 0.006 56.043);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.923 0.003 48.717);
	--input: oklch(0.923 0.003 48.717);
	--ring: oklch(0.709 0.01 56.259);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0.001 106.423);
	--sidebar-foreground: oklch(0.147 0.004 49.25);
	--sidebar-primary: oklch(0.216 0.006 56.043);
	--sidebar-primary-foreground: oklch(0.985 0.001 106.423);
	--sidebar-accent: oklch(0.97 0.001 106.424);
	--sidebar-accent-foreground: oklch(0.216 0.006 56.043);
	--sidebar-border: oklch(0.923 0.003 48.717);
	--sidebar-ring: oklch(0.709 0.01 56.259);
}

.dark {
	--background: oklch(0.147 0.004 49.25);
	--foreground: oklch(0.985 0.001 106.423);
	--card: oklch(0.216 0.006 56.043);
	--card-foreground: oklch(0.985 0.001 106.423);
	--popover: oklch(0.216 0.006 56.043);
	--popover-foreground: oklch(0.985 0.001 106.423);
	--primary: oklch(0.923 0.003 48.717);
	--primary-foreground: oklch(0.216 0.006 56.043);
	--secondary: oklch(0.268 0.007 34.298);
	--secondary-foreground: oklch(0.985 0.001 106.423);
	--muted: oklch(0.268 0.007 34.298);
	--muted-foreground: oklch(0.709 0.01 56.259);
	--accent: oklch(0.268 0.007 34.298);
	--accent-foreground: oklch(0.985 0.001 106.423);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.553 0.013 58.071);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.216 0.006 56.043);
	--sidebar-foreground: oklch(0.985 0.001 106.423);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0.001 106.423);
	--sidebar-accent: oklch(0.268 0.007 34.298);
	--sidebar-accent-foreground: oklch(0.985 0.001 106.423);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.553 0.013 58.071);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		@apply bg-background text-foreground;
	}

	.tiptap {
		:first-child {
			@apply mt-0;
		}

		p {
			@apply leading-loose;
		}

		h1 {
			@apply text-4xl font-bold leading-loose;
		}

		h2 {
			@apply text-3xl font-bold leading-loose;
		}

		h3 {
			@apply text-2xl font-bold leading-loose;
		}

		ol li {
			@apply list-decimal ml-6;
		}

		ul li {
			@apply list-disc ml-6;
		}

		blockquote {
			@apply bg-transparent rounded-r text-sm font-medium text-primary py-3 px-3 border-l-4 border-muted;
		}

		table {
			@apply border;
			border-collapse: collapse;
			margin: 0;
			table-layout: fixed;
			width: 100%;
			overflow: hidden;

			tbody {
				@apply divide-y;
			}

			.selectedCell {
				@apply bg-accent-foreground text-accent;
			}

			th {
				@apply px-2 bg-accent;
				text-align: initial;
				text-decoration: initial;
				font-weight: initial;
			}

			tr {
				@apply divide-x;
			}

			td {
				@apply px-2 bg-white relative overflow-visible;

				.column-resizing {
					@apply ring-1;
				}

				.column-resize-handle {
					background-color: hsl(var(--chart-1));
					bottom: -2px;
					position: absolute;
					right: -2.5px;
					top: 0;
					width: 4px;
					z-index: 40;
					cursor: col-resize;
				}
			}
		}

		.tableWrapper {
			margin: 1.5rem 0;
			overflow-x: auto;
		}

		&.resize-cursor {
			cursor: col-resize;
		}

		p {
			code {
				@apply bg-secondary rounded text-foreground font-mono py-0.5 px-1;
			}

			a {
				@apply text-foreground hover:text-foreground/70 underline cursor-pointer transition-all ease-in-out;
			}

			code {
				@apply bg-primary-foreground rounded-sm overflow-hidden font-mono text-sm text-primary ring ring-primary/10;
			}
		}

		img {
			margin: 1.5rem 0;
			@apply rounded-md max-w-full h-auto block;

			&.ProseMirror-selectednode {
				outline: 3px solid var(--purple);
			}
		}

		.is-editor-empty {
			@apply text-muted-foreground;
		}

		pre {
			@apply bg-muted rounded-lg overflow-hidden text-primary font-mono py-4 px-4;
			margin: 1.5rem 0;

			code {
				background: none;
				color: inherit;
				font-size: 0.8rem;
				padding: 0;
			}
		}
	}
}
